<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/headerView.ejs', {title})%>
    <link href="/css/dashboard.css" rel="stylesheet" />
</head>

<body>
  <div class="main">
    <div class="left">
      <div class="logo">
        <a href="/">
          <img src="images/favicon.png" alt="Binar Gamehub" />
        </a>
      </div>
      <div class="title">
        <h1 class="title__text">Welcome to Dashboard!</h1>
        <p class="title__subtext">
          Here's the user list!
          <br>You can either update, delete, or just view them.</br>
          Just give it a try!
        </p>
      </div>
    </div>
    <div class="right">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th>
            <th scope="col">Last Update</th>
            <th class='text-center' scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(( user, index )=> { %>
            <tr>
              <td>
                <%=index+1%>
                  </th>
              <td>
                <%=user.username%>
              </td>
              <td>
                <%=user.email%>
              </td>
              <td>
                <%=user.isAdmin%>
              </td>
              <td>
                <%=user.updatedAt.toString().slice(0,15)%>
              </td>
              <td class='text-center'>
                <div class="actions">
                  <a href="/profile/<%=user.uuid%>" class="actions-view">
                    <img width="30px" height="30px" src="/images/dashboard/view-icon.png" alt="view">
                  </a>
                  <a href="/update/<%=user.uuid%>" class="actions-update">
                    <img width="30px" height="30px" src="/images/dashboard/update-icon.png" alt="update">
                  </a>
                  <a href="/delete/<%=user.uuid%>" class="actions-delete">
                    <img width="30px" height="30px" src="/images/dashboard/delete-icon.png" alt="delete">
                  </a>
                </div>
              </td>
            </tr>
            <%})%>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
