<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/headerView.ejs', { title: `${user.biodata.full_name ? user.biodata.full_name.split(" ")[0] : user.username.toUpperCase()} Profile` })%> 
    <link href=" /css/profile.css" rel="stylesheet" />
</head>

<body>
  <div class="main">
    <div class="left">
      <div class="logo">
        <a href="/">
          <img src="/images/favicon.png" alt="Binar Gamehub" />
        </a>
      </div>
      <div class="title">
        <h1 class="title__text">
          <%= user.biodata.full_name ? user.biodata.full_name.split(" ")[0] : user.username.toUpperCase() %> <br><span>Profile Page</span></h1>
          <p class=" title__subtext">
            Hi, there!
            <br>Vie and make sure you enter the latest data!</br>
            </p>
            <a href="/update/<%=user.uuid%>" class="title__update">Update Your Account</a>
      </div>
    </div>
    <div class="right">
      <div class="right-container">

        <h1 class="account-title fw-bold">
          <%= user.biodata.full_name ? user.biodata.full_name.split(" ")[0] : user.username.toUpperCase() %> Account Detail</h1>
        <table class=" table table-striped table-bordered">
            <tbody>
              <tr>
                <th>Username</th>
                <td>
                  <%=user.username%>
                </td>
              </tr>
              <tr>
                <th>
                  Email
                </th>
                <td>
                  <%=user.email%>
                </td>
              </tr>
            </tbody>
            </table>

            <h1 class="biodata-title fw-bold">
              <%= user.biodata.full_name ? user.biodata.full_name.split(" ")[0] : user.username.toUpperCase() %> Biodata Detail</h1>
        <table class=" table table-striped table-bordered">
                <tbody>
                  <tr>
                    <th>Full Name</th>
                    <td>
                      <%=user.biodata.full_name || '-' %>
                    </td>
                  </tr>
                  <tr>
                    <th>Date of Birth</th>
                    <td>
                      <%=user.biodata.dob || '-' %>
                    </td>
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td>
                      <%=user.biodata.address || '-' %>
                    </td>
                  </tr>
                  <tr>
                    <th>Contact</th>
                    <td>
                      <%=user.biodata.contact || '-' %>
                    </td>
                  </tr>
                </tbody>
                </table>

                <h1 class="statistic-title fw-bold">
                  <%= user.biodata.full_name ? user.biodata.full_name.split(" ")[0] : user.username.toUpperCase() %> VS COMP Statictics</h1>
        <table class=" table table-striped table-bordered">
                    <tbody>
                      <tr>
                        <th>Win Count</th>
                        <td>
                          <%=user.stats.win_count_comp || '-' %>
                        </td>
                      </tr>
                      <tr>
                        <th>Lose Count</th>
                        <td>
                          <%=user.stats.lose_count_comp || '-' %>
                        </td>
                      </tr>
                      <tr>
                        <th>Draw Count</th>
                        <td>
                          <%=user.stats.draw_count_comp || '-' %>
                        </td>
                      </tr>
                    </tbody>
                    </table>

                    <h1 class="statistic-title fw-bold">
                      <%= user.biodata.full_name ? user.biodata.full_name.split(" ")[0] : user.username.toUpperCase() %> VS Player Statictics</h1>
        <table class=" table table-striped table-bordered">
                        <tbody>
                          <tr>
                            <th>Win Count</th>
                            <td>
                              <%=user.stats.win_count_player || '-' %>
                            </td>
                          </tr>
                          <tr>
                            <th>Lose Count</th>
                            <td>
                              <%=user.stats.lose_count_player || '-' %>
                            </td>
                          </tr>
                          <tr>
                            <th>Draw Count</th>
                            <td>
                              <%=user.stats.draw_count_player || '-' %>
                            </td>
                          </tr>
                        </tbody>
                        </table>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
